@import "tailwindcss";


@theme {
  --color-background: #FFFFFF;
  --color-foreground: #F6F6EF;
  --color-accent: #FF6600;
  --color-text: #000000;
  --color-muted: #828282;
}


body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: Verdana, Geneva, sans-serif;
}


.input, 
.button, 
.a,
.textarea,
.select {
  all: revert;
}

.default-font {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.error-text {
  @apply text-[10px] text-red-500 font-bold ml-2;
}

.link-2 {
  @apply text-black hover:underline
}

.belowHeaderContainer {
  @apply md:w-[95vw] lg:w-[80vw] bg-foreground mx-auto pl-4;
}